/* Proyects */
.container_proyects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 50px;
}
.container_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_proyects{
    font-family: $f-especial;
    color: $c-yellow;
    font-size: 100px;
    margin: 20px 10px;
    text-align: center;
}
.subTitle_proyects{
    font-family: $f-text;
    color: $c-cian;
    font-size: 40px;
    margin: 20px 10px;
    text-align: center;
}

/* Item list */
.proyects_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cont_loaderCard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.title_cardProyect{
    font-size: 25px;
    font-family: $f-text;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .title_proyects{
        font-size: 60px;
    }
    .subTitle_proyects{
        font-size: 20px;
    }
    .container_proyects{
        padding: 20px 10px;
    }
}
@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 440px) {
    .container_proyects{
        align-items: start;
        justify-content: flex-start;
    }
    .proyects_list{
        justify-content: start;
        padding: 20px 0px;
    }
    .container_title{
        justify-content: start;
    }
    .title_proyects{
        font-size: 40px;
    }
    .subTitle_proyects{
        font-size: 15px;
    }
}