
.container-sidebar{
    position: fixed;
    height: 100%;
}
.sidebar-menuBody{
    

}
.container-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 10px 0px;
}
.img-JoaRodDev{
    border-radius: 100%;
    width: 80%;
    height: 80%;
    

}
.sidebar-icon{
    width: 1000px;
    height: 100px;
}
.sidebar-menuItem{
    font-size: 20px;
}