.container-HomePage{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    background-color: $c-greenO;
}

.cont-sideHome{
    flex: 0;
    position: fixed;
}

.container-content{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 10px;
}

.bg-filter{
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.backgroundColor{
    color: $c-background;
}

@media only screen and (max-width: 982px) {
    .container-content{
        margin-left: 10%;
    }
}
@media only screen and (max-width: 800px) {
    .container-content{
        margin-left: 15%;
    }
}
@media only screen and (max-width: 440px) {
    .container-content{
        margin-left: 23%;
    }
}