.cont_techLogo{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 150px;
}
.cont_techLogo:hover{
    transform: scale3d(1px);
    transition: 1s;
}
.cont_img{
    width: 50px;
    margin: 10px 20px;
}
.cont_infoTech{
    display: flex;
    flex-direction: column;
}

.nameTechnology{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}


@media only screen and (max-width: 440px) {
    .cont_img{
        width: 45px;
        height: 45px;
    }
    .nameTechnology{
        font-size: 15px;
    }
}